
.topnav {
	background: linear-gradient(to right, #07CED2, #197C7F);

}

.title {
	margin-top: 80px;
	text-align: center;
}

.hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.posts {
    margin-left: 650px;
    width: 550px;
    margin-top: 20px;
  	overflow: hidden;
    text-align: center;
 }

 .text-area {
 	  width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
 }

 #post-button {
 	margin-left: 430px;
 }

 .post {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  background-color: white;
  border-color: #E2E2E2;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.post .body {
  color: #272727;
}

.post-list  {
  width: 20%;
  float: left;
  margin-top: 10px;
  margin-left: 40px;
  text-align: center;
}
.post-list-student  {
  width: 20%;
  margin-top: 10px;
  margin-left: 500px;
  text-align: center;
}

.class-list {
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

#card-panel {
  background-color: #07CED2;
}

.vertical-line {
    border-left: 6px solid #197C7F;
    height: 100%;
    position: absolute;
    margin-left: 370px;
}

#buttons{
    margin-right: 300px;
}