.log-fields {
    width: 300px;
    height: 250px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
   	margin: auto;
    text-align: center;
 }

 #log-header {
 	text-align: center;
 	margin-top: 125px;
 }




